{
	"test_case_1": {
		"test_name": "test_function_1",
		"enabled": true,
		"expected": {
			"exceptions": {
				"connection1": {
					"count": 0
				}
			},
			"messages": {	
			}
		},
		"cms_configuration": {
			"connection1": {
				"broker": "failover:(localhost:5672)?maxReconnectAttempts=5",
				"username": "admin",
				"password": "admin",
				"session": {
					"session1": {
						"auto_ack": true,
						"is_transacted": false,
						"clients": {
							"producers": {
								"producer1": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_1"
								},
								"producer2": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_2"
								},
								"producer3": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_3"
								},
								"producer4": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_4"
								},
								"producer5": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_5"
								},
								"producer6": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_6"
								},
								"producer7": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_7"
								},
								"producer8": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_8"
								}
							}
						}
					}
				}
			}
		},
		"message_parameters": {
			"producer1": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type" : "text",
				"sender_type" : "framework",
				"properties": {
					"property": false
				}
			},
			"producer2": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_count": 1,
				"message_type" : "text",
				"sender_type" : "framework",
				"properties": {
					"property": false
				}
			},
			"producer3": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type" : "text",
				"sender_type" : "framework",
				"message_file": "test_message_file1.txt",
				"properties": {
					"property": false
				}
			},
			"producer4": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type" : "text",
				"sender_type" : "framework",
				"properties": {
					"property": false
				}
			},
			"producer5": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type" : "text",
				"sender_type" : "framework",
				"message_file": "test_message_file2.txt",
				"message_count": 1,
				"properties": {
					"property": false
				}
			},
			"producer6": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type" : "text",
				"sender_type" : "framework",
				"message_count": 1,
				"properties": {
					"property": false
				}
			},
			"producer7": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type" : "text",
				"sender_type" : "framework",
				"message_file": "test_message_file3.txt",
				"properties": {
					"property": false
				}
			},
			"producer8": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type" : "text",
				"sender_type" : "framework",
				"message_count": 1,
				"message_file": "test_message_file4.txt",
				"properties": {
					"property": false
				}
			}
		}
	}
}