{
	"test_case_1": {
		"test_name": "test_function_1",
		"enabled": true,
		"expected": {
			"exceptions": {
				"connection1": {
					"count": 0
				}
			},
			"messages": {	
				"consumer1": {
					"connection":"connection1",
					"session":"session1",
					"message_file": "test_messages_received.txt",
					"message_count": 1
				},
				"consumer2": {
					"connection":"connection1",
					"session":"session1",
					"message_count": 2,
					"message_file": "test_messages_received.txt"
				},
				"consumer3": {
					"connection":"connection1",
					"session":"session1",
					"message_file": "test_messages_received.txt",
					"message_count": 1
				},
				"consumer4": {
					"connection":"connection1",
					"session":"session1",
					"message_file": "test_messages_received.txt",
					"properties" : {"property" : false},
					"message_count": 1
				},
				"consumer5": {
					"connection":"connection1",
					"session":"session1",
					"message_file": "test_messages_received.txt",
					"message_count": 1
				},
				"consumer6": {
					"connection":"connection1",
					"session":"session1",
					"message_count": 2,
					"message_file": "test_messages_received.txt",
					"properties": {"property":false}
				},
				"consumer7": {
					"connection":"connection1",
					"session":"session1",
					"message_file": "test_messages_received.txt",
					"properties": {"property":false},
					"message_count": 1
				},
				"consumer8": {
					"connection":"connection1",
					"session":"session1",
					"message_count": 2,
					"message_file": "test_messages_received.txt",
					"properties": {"property":false}
				}
			}
		},
		"cms_configuration": {
			"connection1": {
				"broker": "failover:(localhost:5672)?maxReconnectAttempts=5",
				"username": "admin",
				"password": "admin",
				"session": {
					"session1": {
						"auto_ack": true,
						"is_transacted": false,
						"clients": {
							"consumers": {
								"consumer1": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer2": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer3": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer4": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer5": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer6": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer7": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer8": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								}
							},
							"producers": {
								"producer1": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"producer2": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"producer3": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"producer4": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"producer5": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"producer6": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"producer7": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"producer8": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								}
							}
						}
					}
				}
			}
		},
		"message_parameters": {
			"producer1": {
				"session_factory": "connection1",
				"message_factory": "session1"
			},
			"producer2": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_count": 1
			},
			"producer3": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_file": "test_message_file1.txt"
			},
			"producer4": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"properties": {
					"property": false
				}
			},
			"producer5": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_file": "test_message_file2.txt",
				"message_count": 1
			},
			"producer6": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_count": 2,
				"properties": {
					"property": false
				}
			},
			"producer7": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_file": "test_message_file3.txt",
				"properties": {
					"property": false
				}
			},
			"producer8": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_count": 2,
				"message_file": "test_message_file4.txt",
				"properties": {
					"property": false
				}
			}
		}
	}
}